{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body class="h-full w-full container mx-auto font-Mulish py-6 bg-rose-100 relative">
    <div class="bg-white mx-auto flex gap-x-2 px-2 py-4 rounded-lg">
        <div class="w-[250px]">
            <img class="w-[250px]" src="{{ product.product_image.url }}"/>
        </div>
        <div class="flex-col gap-4">
            <span class="block text-[14px] font-bold">{{product.product_name}}</span>
            <span class="block text-[10px]">Category: -</span>
            <p class=" text-[10px]">Description: {{product.product_description}}</p>
            <span class="block text-[10px] text-gray-500">
                Price: {{product.product_price}}$
            </span>
        </div>
    </div>
</body>
</html>